{# templates/auth.html #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Dragon Index</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="auth-container">
    <div class="auth-box">
      <h2>Register</h2>
      <form method="post" action="{% url 'auth' %}">
        {% csrf_token %}
        {{ reg_form.non_field_errors }}
        {{ reg_form.name.label_tag }} {{ reg_form.name }}<br>
        {{ reg_form.mail.label_tag }} {{ reg_form.mail }}<br>
        {{ reg_form.password1.label_tag }} {{ reg_form.password1 }}<br>
        {{ reg_form.password2.label_tag }} {{ reg_form.password2 }}<br>
        <fieldset class="starter-race">
          <legend>{{ reg_form.starter_race.label }}</legend>
          {% for widget in reg_form.starter_race %}
            <label class="race-option">
              {{ widget.tag }}
              {# assume you’ve placed race portrait as race.name|lower .jpg #}
              <img src="{% static 'images/races/'|add:widget.choice_label|lower|add:'.jpg' %}"
                   alt="{{ widget.choice_label }}">
              <span>{{ widget.choice_label }}</span>
            </label>
          {% endfor %}
        </fieldset>

        <fieldset class="starter-sex">
          <legend>{{ reg_form.starter_sex.label }}</legend>
          {% for widget in reg_form.starter_sex %}
            <label class="sex-option">
              {{ widget.tag }}
              {# male.png / female.png in static/images/icons/ #}
              <img src="{% static 'images/icons/'|add:widget.choice_label|lower|add:'.png' %}"
                   alt="{{ widget.choice_label }}">
            </label>
          {% endfor %}
        </fieldset>
        <button type="submit" name="reg-submit">Create Account</button>
      </form>
    </div>

    <div class="auth-box">
      <h2>Login</h2>
      {# We tack on ?next=... so that after login you go back to where you came from #}
      <form 
        method="post" 
        action="{% url 'auth' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}"
      >
        {% csrf_token %}
        {{ login_form.non_field_errors }}
        {{ login_form.mail.label_tag }} {{ login_form.mail }}<br>
        {{ login_form.password.label_tag }} {{ login_form.password }}<br>
        <button type="submit" name="log-submit">Log In</button>
      </form>
    </div>
  </div>
</body>
</html>
