{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="dragon-list-container">
    <h1>Your Dragons</h1>

    {% if dragons %}
      <div class="dragon-grid">
        {% for dragon in dragons %}
          <a href="{% url 'view_dragon' dragon.name %}" class="dragon-card-list">
     <img
        src="{% if dragon.sex == 'Male' %}
                {{ dragon.race.image_male.url }}
              {% else %}
                {{ dragon.race.image_female.url }}
              {% endif %}"
        alt="{{ dragon.name }}"
        class="dragon-model"
      >
            <h3 class="dragon-card-name">{{ dragon.name }}</h3>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <p>You don’t own any dragons yet!</p>
    {% endif %}
    <p>Got {{ dragons|length }} dragons.</p>
  </div>
{% endblock %}
